[submodule "MRT/gs_frontend"]
    path = MRT/gs_frontend
    url = https://github.com/McGillRocketTeam/groundstation-frontend-v3

[submodule "MRT/gs_backend"]
    path = MRT/gs_backend
    url = https://github.com/McGillRocketTeam/groundstation-backend-2025
